<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/header :: header}">
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

<section>
    <table>

        <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>권한</th>
            <th>회원수정</th>
            <th>회원삭제</th>
        </tr>

        <th:block th:each="user :${users}">
            <tr>
                <td id="loginId"><a th:href="@{/study/list/{id}(id=${user.id})}" th:text="${user.username}">admin</a></td>
                <td><a th:href="@{/study/list/{id}(id=${user.id})}" th:text="${user.name}">관리자</a></td>
                <td th:text="${user.role}">ADMIN</td>
                <td>
                    <a th:if="${user.id eq userId || userRole eq 'ROLE_ADMIN'}" class="link btn btn-delete" th:href="@{/user/{id}(id=${user.id})}">수정 </a>
                </td>
                <td>
                    <button th:if="${user.id eq userId || userRole eq 'ROLE_ADMIN'}" class="btn btn-delete" th:data-id="${user.id}" >삭제 ajax</button>
                </td>
            </tr>
        </th:block>
    </table>
</section>
<div th:replace="~{fragments/footer :: footer}"> </div>
</body>
</html>

<script defer src="/js/user.js"> </script>