<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
<body>

<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

<section>
    <div class="search-box">
        <label for="memberId">회원 번호로 검색</label>
        <input id="memberId" name="memberId" type="number" />
        <button type="button" onclick="searchStudyList()">검색</button>
    </div>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>시작날짜</th>
            <th>시간(분)</th>
            <th>끝난날짜</th>
            <th>기록</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="study : ${studies}">
            <td th:text="${study.id}">3</td>
            <td th:text="${study.userName}">홍길동</td>
            <td th:text="| ${study.startDate} / ${study.startTime} | ">2025-04-03 / 10:00:00</td>
            <td th:text="|${study.studyMins}분| ">30분</td>
            <td th:text="${study.endDateTime}"> 2025-04-03 / 10:30:00</td>
            <td th:text="${study.contents}">내용</td>
            <td><a th:if="${study.userId eq userId || userRole eq 'ROLE_ADMIN'}" th:href="@{/study/{id}(id=${study.id})}" class="link btn btn-modify">수정</a></td>
            <td><button th:if="${study.userId eq userId || userRole eq 'ROLE_ADMIN'}" th:onclick="|deleteRecord(${study.id})|" class="btn btn-delete">삭제</button></td>
        </tr>
        </tbody>

    </table>
</section>

<div th:replace="~{fragments/footer :: footer}"> </div>
</body>
</html>
<script defer src="/js/study.js"> </script>